{% extends 'body.html' %}

{% block content %}
<form method='POST'>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-trash"></i>
                {{title}}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{action}}">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="alert alert-danger alert-dismissible">
                <h5><i class="icon fas fa-ban"></i> Notificacion!</h5>
                ¿Estas seguro de eliminar el registro nro {{ object.id }} ?
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger btnTest" >
                Si,Aceptar
            </button>
            <a  href="{{list_url}}" class="btn btn-primary btnTest">
                Cancelar
            </a>
        </div>
    </div>
</form>
<script>
    // implementando ajax para el envio de datos
    $('form').on('submit',function (e){
        // evitando que los datos se envien por defecto
        e.preventDefault()
        // metodo .serializeArray me sirve para obtener todos los valores que van en un form inputs
        let parametros = $(this).serializeArray(); 
        //console.log(parametros)
        $.ajax({
            // con window.location.pathname asignamos la ruta en la que estamos.
            url : window.location.pathname,
            type : 'POST',
            data : parametros,
            datatype : 'json'
        }).done(function (data){
            // validamos si no hay ningun error.
            if(!data.hasOwnProperty('error')){
                guardadoExitoso()
                setTimeout(() =>{
                    location.href = '{{ list_url }}'
                },3000)
                return false
            }
            // creada en archivo externo
            mensajeError(data.error)
        }).fail(function(){
            console.log(data)
        }).always(function(){

        })
    })
</script>
{% endblock content %}