{% extends 'body.html' %}

{% block content %}
<form action=" {% url 'category_create' %} " method='POST'>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{title}}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <!-- personalizando un formulario -->
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label >{{field.label}}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btnTest" id="btn-new">
                Guardar Registro
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
    </div>
</form>
<script>
    {% if form.errors %}
        let errores = '';
        {% for field in form %}
            {% for error in field.errors %}
                errores += '{{ error }}\n'; 
            {% endfor %}
        {% endfor %}
        Swal.fire({
            title:'Error',
            text : errores,
            icon : 'error'
        });
    {% endif %}
</script>
{% endblock content %}